/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

img {
  display: block;
  
  border: 0;
  width: 100%;
  height: auto;
}

.section-content {
  padding: 1.4em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tripImage {
    display: flex;
    justify-content: space-around;
    max-height: 300px;
    
}

.detailPic {
  max-width: 500px;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.detailView{
  display: flex;
  flex-direction: column;
  align-items: center;
}


button {
  margin-left: 20px;
  align-items: center;
}

#tripButton {
  background-color: #1055A1;
  color:white;
    
}

#tripButton:hover {
  background-color: rgb(43, 241, 231);
  color: black;
  text-decoration: none;
  
}

.tripFormContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.formgrid {
  display:flex;
  flex-direction: column;
  align-items: center;
  

}

.picUpload {
  text-align: center;
}

label {
  margin-top: 10px;
}

.tripButton {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card {
  border: 10px white;
  
  margin:10px;
  padding: 10px;
}

.submitTripButton {
display:flex;
justify-content: space-around;

}


.boatSelector{
  margin: 20px;
}

.tripHeader {
  display: flex;
  justify-content: space-around;
}

.picUpload {
  text-align: center;
}